<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.activiti.mapper.manager.business.LeaveMapper" >
	<resultMap type="com.activiti.po.business.Leave" id="leaveRM">
		<result property="id" column="id" />
		<result property="category" column="category" />
		<result property="reason" column="reason" />
		<result property="days" column="days" />
		<result property="hours" column="hours" />
		<result property="startTime" column="startTime" />
		<result property="endTime" column="endTime" />
		<result property="status" column="status" />
	</resultMap>

	<select id="find" parameterType="map" resultMap="leaveRM">
		SELECT 
		  id,
		  category,
		  reason,
		  days,
		  hours,
		  startTime,
		  endTime,
		  STATUS 
		FROM
		  LEAVE 
		WHERE 1 = 1 
		<if test="name != null">
			and name=#{name}
		</if>
		order by id desc
	</select>
	
	<select id="get" parameterType="int" resultMap="leaveRM">
		SELECT 
		  id,
		  category,
		  reason,
		  days,
		  hours,
		  startTime,
		  endTime,
		  STATUS 
		FROM
		  LEAVE 
		where id = #{id}
	</select>
	
	<insert id="insert" parameterType="com.activiti.po.business.Leave" >
		INSERT INTO (
		  category,
		  reason,
		  days,
		  hours,
		  startTime,
		  endTime,
		  status
		) 
		VALUES (
		    #{category},
		    #{reason}, 
		    #{days}, 
		    #{hours}, 
		    #{startTime}, 
		    #{endTime}, 
		    #{status}
	  	)
	</insert>
	
	<update id="update" parameterType="com.activiti.po.business.Leave" >
		update leave
		<set>
			<if test="category != null">
				category = #{category},
			</if>
			<if test="reason != null">
				reason = #{reason},
			</if>
			<if test="days != null">
				days = #{days},
			</if>
			<if test="hours != null">
				hours = #{hours},
			</if>
			<if test="startTime != null">
				startTime = #{startTime},
			</if>
			<if test="endTime != null">
				endTime = #{endTime},
			</if>
			<if test="status != null">
				status = #{status}
			</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="int">
		delete from leave
		where id = #{id}
	</delete>
    
	<delete id="delete" parameterType="int">
		delete from leave
		where id in
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>
</mapper>
